
$custom-grey: rgb(228, 228, 228);
$custom-pink: #ca29d9;
$custom-purple: #4744d8;
$custom-header: #121214;
$custom-form-card: #0e0e0f;
$custom-main: rgb(235, 235, 235);
$custom-footer: #121214;
$custom-button: radial-gradient(circle at 2.39% 27.8%, #ff24ed 0,
#f828e6 16.67%, #ca29d9 33.33%, #9926c6 50%, #6822b0 66.67%,
#361e9b 83.33%, #001a89 100%);