@import '../../styles/custom_colors.scss';

.main-page {
    width: 100%;

    margin-left: 0 auto;
    background-color: $custom-main;

    font-family: 'Poppins', sans-serif;

    position: static;

    .main-content {
        width: 100%;
        max-width: 1100px;

        margin: 0 auto;
        display: flex;
        padding: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

        h2 {
            font-weight: 700;
            padding: 20px;
        }

        iframe {
            margin-bottom: 30px;
        }

        .h2-line {
            width: 300px;
            height: 4px;
            background: linear-gradient(90deg, rgba(99,19,201,1) 29%, rgba(255,0,245,1) 93%); 
            margin-top: -50px;
            margin-bottom: 50px;
        }

        p {
            margin-bottom: 15px;
        }

        .main-text {
            width: 100%;
            max-width: 1100px;
            text-align: center;
            display: flex;
            gap: 50px;
        }

        .main-text-with-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            .fas {
                font-size: 30px;
                color: $custom-purple;
                background: linear-gradient(40deg, rgb(130, 64, 218) 39%, rgb(224, 31, 218) 93%); 
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                margin-left: 20px;
            }
        }


        .speakers-info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .photo {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .h4-mark {
                    box-shadow: .6em 0 0 $custom-purple;
                    width: 13.5ch;
                    overflow: hidden;
                    white-space: nowrap;
                    animation: caret .5s step-end infinite alternate, type 5s steps(23, end)
                }
                .h4-bill {
                    box-shadow: .6em 0 0 $custom-purple;
                    width: 7.5ch;
                    overflow: hidden;
                    white-space: nowrap;
                    animation: caret .5s step-end infinite alternate, type 5s steps(23, end)
                }

                img {
                    border: 3px solid $custom-grey;
                    border-radius: 100px;
                    padding: 5px;
                    
                    &:hover {
                        border: 5px solid $custom-grey;
                        padding: 0;
                        cursor: pointer;
                        box-shadow: 5px 8px 5px rgba(0,0,0,0.1);
                    }
                }
            }
        }

        iframe {
            width: 100%;
            max-width: 864px;
            height: 511px;

            border: 5px solid $custom-grey;
            border-radius: 8px;
            box-shadow: 5px 10px 5px rgba(0,0,0,0.1);
        }

        .footer-form-box {
            width: 100%;
            max-width: 600px;

            margin-bottom: -120px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer-form {

            width: 100%;

            display: flex;
            flex-direction: column;
            padding: 50px;
            background-color: $custom-grey;
            box-shadow: 5px 10px 5px rgba(0,0,0,0.1);

            border-radius: 8px;

            input {
                width: 100%;
                height: 40px;
                padding: 0px 10px;
                font-family: 'Poppins', sans-serif;
                border: 0;
                border-radius: 5px;
            }
        }

        .bottom-form-button {
                width: 100%;
                height: 60px;
                margin-top: 20px;
    
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                font-weight: 700;
                background: $custom-button;
                border: 0;
                border-radius: 5px;
    
                color: #fff;
                cursor: pointer;
    
                transition: 0.2s;

                opacity: .9;

                &:hover {
                    font-size: 19px;
                    font-weight: 700;
                    opacity: 1;
                }

        }
    }
}

@media screen and (max-width: 980px) {
    iframe {
        max-height: 450px;
    }
}
@media screen and (max-width: 780px) {
    iframe {
        max-height: 350px;
    }
}
@media screen and (max-width: 580px) {
    iframe {
        max-height: 250px;
    }
}
@media screen and (max-width: 480px) {
    iframe {
        max-height: 200px;
    }

    h2 {
        margin-bottom: 20px;
    }
    
    .main-page {
        .main-content {
            padding: 20px;
            gap: 20px;
        }
    }

    .main-text {
        display: flex;
        flex-direction: column;
        
    }

    .main-text-with-icons {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 300px;

        margin-bottom: 50px;

        i {
            margin-right: 15px;
        }
    }

}
